* {
  padding: 0;
  margin: 0;
}
body {
  margin: 20px;
  font-family: sans-serif;
}
#usernameInput {
  line-height: 30px;
  width: 200px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}
#lookupButton {
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  line-height: 30px;
  width: 80px;
  font-size: 1rem;
}
#lookupButton:hover {
  background-color: black;
  color: white;
}
#username {
  margin-top: 10px;
  color: rgb(223, 52, 80);
  font-size: 1.7rem;
}
ul a {
  text-decoration: none;
}
#repositories {
  list-style-type: none;
  font-size: 1.5rem;
}
li {
  margin: 10px;
}
